.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.title {
  font-weight: bold;
  font-size: 23px;
}

.titleDesc {
  font-size: 18px;
}

.navBar {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  background-color: none;
}

.navBar li {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
}

.navBarContainer ul li:hover {
  cursor: pointer;
  background-color: darkgray;
}

.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  background-color: none;
}

.socials li img:hover {
  cursor: pointer;
}

.linkedin {
  width: 64px;
  height: 64px;
}

.x {
  width: 64px;
  height: 64px;
}

.instagram {
  width: 64px;
  height: 64px;
}

.tiktok {
  width: 59.125;
  height: 64px;
}

.youtube {
  width: 91px;
  height: 64px;
}
  
.workLinks {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  background-color: none;
}

.workLinks li img:hover {
  cursor: pointer;
}

.github {
  width: 66.925px;
  height: 64px;
}

.fiverr {
  width: 64px;
  height: 64px;
}

.upwork {
  width: 64px;
  height: 64px;
}

.reddit {
  width: 64px;
  height: 64px;
}
  
.achievementsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.donateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.donateDesc {
  color: green;
  font-size: 18px;
  font-weight: bold;
}
