body.light-mode {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 35px;
  width: 100%;
  position: relative;
}

.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-left: 35px;
  margin-top: 85px;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 75px;
  margin-right: 35px;
}

.themeP {
  font-weight: bold;
  font-size: 23px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 60px;
  height: 34px;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: gray;
  transition: 0.4s;
  border-radius: 34px;
  z-index: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: lightgreen;
}

.switch input:checked + .slider:before {
  transform: translateX(26px);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 175px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 250px;
  max-width: 400px;
}

.dark-mode .logo {
  filter: invert(1) brightness(2);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.titleDesc {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 25px;
}

.navBarContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navBar {
  list-style-type: none;
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  width: 100%;
}

.navBar a {
  color: inherit;
  text-decoration: none;
}

.navBar li {
  padding: 5px 15px;
  font-size: 20px;
}

.navBarContainer ul li:hover {
  cursor: pointer;
  background-color: darkgray;
}

.testimonials {
  margin-top: 0 !important;
}

.offer {
  font-size: 21px;
  font-weight: bold;
  margin-left: 75px;
  margin-right: 75px;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 50px;
  border: 2px solid black;
  border-radius: 5px;
  margin-botton: 15px;
}

.dark-mode .orderContainer {
  border: 2px solid white;
}

.orderDetails {
  display: flex;
}

.orderDesc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 19px;
  width: 450px;
}

.orderDesc ul {
  gap: 10px;
}

.reasons {
  font-size: 23;
}

.seperatorLine {
  width: 2px;
  height: 1000px;
  background-color: black;
  margin-top: 100px;
}

.dark-mode .seperatorLine {
  background-color: white;
}

.orderTerms {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 149px;
}

.variedPrices {
  margin-bottom: 0px;
}

.priceHome {
  font-size: 35px;
  color: green;
}

.priceInfo {
  margin-top: 5px;
  color: gray;
  font-size: 21px;
}

.time {
  margin-top: 25px;
  font-size: 23px;
}

.orderButton {
  color: #B38B00;
  border: 2px solid black;
  background-color: white;
  font-size: 23px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dark-mode .orderButton {
  background-color: black;
  border: 2px solid white;
}

.orderButton:hover {
  cursor: pointer;
  background-color: black;
}

.dark-mode .orderButton:hover {
  cursor: pointer;
  background-color: white;
}

.socials {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

.socials li img {
  max-width: 64px;
  max-height: 64px;
}

.socials li img:hover {
  cursor: pointer;
}

.linkedin {
  margin-top: 4px;
  width: 64px;
  height: 64px;
}

.x {
  width: 64px;
  height: 64px;
}

.instagram {
  width: 64px;
  height: 64px;
}

.tiktok {
  width: 59.125;
  height: 64px;
  max-width: 59.125;
}

.youtube {
  width: 91px;
  height: 64px;
  max-width: 91px;
  margin-top: 8px;
}
  
.workLinks {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 0px;
  margin-left: 0px;
}

.workLinks li img {
  max-width: 64px;
  max-height: 64px;
}

.workLinks li img:hover {
  cursor: pointer;
}

.github {
  width: 66.925px;
  height: 64px;
  max-width: 66.925px;
}

.fiverr {
  width: 64px;
  height: 64px;
}

.upwork {
  width: 64px;
  height: 64px;
}

.reddit {
  width: 64px;
  height: 64px;
}
  
.achievementsContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
}

.achievement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  color: black;
}

.dark-mode .achievement {
  border: 2px solid white;
  color: white;
  background-color: yellow;
}

.donateContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.donateDesc {
  color: green;
  font-size: 27px;
  font-weight: bold;
}

form input[type="image"] {
  border: none;
}

form img {
  border: none;
  transform: scale(2);
}

.spacer {
  height: 175px;
}

@media (max-width: 768px) {
  .logo {
    width: 50%;
  }
  
  .title {
    width: 75px;
    margin-top: 15px;
    margin-left: 10px;
    transform: scale(0.6);
  }

  .titleDesc {
    width: 75%;
  }

  .theme {
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
    transform: scale(0.6);
    gap: 3px;
  }
  
  .navBarContainer {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .navBarContainer::-webkit-scrollbar {
    display: none;
  }

  .offer {
    width: 85%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .orderContainer {
    width: 95%;
  }

  .orderDesc {
    width: 65%;
  }

  .seperatorLine {
    height: 1350px;
  }

  .orderTerms {
    width: 25%;
  }
  
  .achievementsContainer {
    overflow-x: auto;
  }

  . achievement {
    width: 25%
  }
}
